*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #fafafa;
}
nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 30px;
    -webkit-box-shadow: 0 1px 6px 0 #e7e7e7;
            box-shadow: 0 1px 6px 0 #e7e7e7;
    background-color: #ffffff;
}
.brand{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 138px;

}
.brand .bars i{
    font-size: 20px;
    color: #8b8b8b;

}

.searchArea{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.searchArea input[type="search"]{
    width: 560px;
    height: 32px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #c5c5c5;
    border-radius: 1.5px 0 0 1.5px;
}
.searchArea .searchBtn{
    width: 70px;
    height: 32px;
    border: none;
    border: 1px solid #c5c5c5;
    border-left: none;
    border-radius: 0 1.5px 1.5px 0;

}
.searchBtn{
    background-color: #eeeeee;

}
.searchBtn i{
    color: #8b8b8b;
    font-size: 15px;
}

.iconFeild{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 240px;
}
.iconFeild .icons{
    font-size: 18px;
    color: #8b8b8b;

}
.iconFeild .userIcon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: url('https://images.unsplash.com/photo-1520773514296-e8f92a6356fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=918eb8bb7d5cd1a2982dce8d92a04055&auto=format&fit=crop&w=334&q=80');
    background-size: cover;
    background-position: center;
    /* margin-left: 10px; */
}
nav .icons:hover{
    color: #333;
    cursor: pointer;
}
nav .fa-bars:hover{
    color: #333;
    cursor: pointer;
}
nav .userIcon:hover{
    cursor: pointer;
}





.containers{
    width: 85%;
    min-height: 10%;
    margin: 0 auto;
    /* background-color: rgb(255, 245, 245); */
    margin-top: 10px;
}

section#first{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 45vh;
}

#first #video{
    width: 60%;
    height: 100%;
    overflow: hidden;
}

#first #image{
    width: 60%;
    height: 100%;
    background-image: url(Annotation.png);
    background-size: cover;
    background-position: center;
}
#first #image:hover{
    cursor: pointer;
}
section#second{
    padding: 20px 0;
    /* margin-top: 30px; */
}

section#second h3{
    font-weight: 500;
    margin-bottom: 30px;
}

.videos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 30vh;
    margin-top: 20px;
}

.video{
    width: 19.5%;
    min-height: 30vh;
}

.video:hover{
    cursor: pointer;
}

.video .thumbnail{
    width: 100%;
    min-height: 20vh;
    background-size: cover;
    background-position: center;
}

.video h4{
    padding: 5px 10px;
    line-height: 18px;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
}

.video h5{
    padding: 5px 10px;
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;
    color: #929292;
}

#oneonepic{
    background-image: url(oneonepic.PNG);
}
#onetwopic{
    background-image: url(onetwopic.PNG);
}
#onethreepic{
    background-image: url(onethreepic.PNG);
}
#onefourpic{
    background-image: url(onefourpic.PNG);
}
#onefivepic{
    background-image: url(onefivepic.PNG);
}

#twoonepic{
    background-image: url(twoonepic.PNG);
}
#twotwopic{
    background-image: url(twotwopic.PNG);
}
#twothreepic{
    background-image: url(twothreepic.PNG);
}
#twofourpic{
    background-image: url(twofourpic.PNG);
}
#twofivepic{
    background-image: url(twofivepic.PNG);
}

#sideNav{
    position: absolute;
    top: 0;
    left: -20%;
    z-index: 9999999;
    width: 18%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    -webkit-transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    -o-transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

#sideNav::-webkit-scrollbar{
    width: 10px;
}

#sideNav::-webkit-scrollbar-thumb{
    background-color: #777;
}

#sideNav #head{
    padding: 0 25px;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4px;
}

#head i{
    color: #999;
    font-size: 18px;
}

#head i:hover{
    cursor: pointer;
}

#features{
    padding: 13px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 30vh;
    margin-top: 0px;
    /* background-color: red; */
    border-top: 1px solid #cfcfcf;
    border-bottom: .5px solid #e9e9e9;
}

.feature{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 7vh;
    background-color: #fff;
    -webkit-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    padding: 0 30px;
}

.feature:hover{
    cursor: pointer;
    background-color: #cfcfcf;
}

.feature i{
    margin-right: 10px;
}

#library{
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    color: #777;
}

#library h5:hover{
    cursor: pointer;
    color: black;
}

#library h5{
    padding: 10px 30px;
}

.options{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 7vh;
    background-color: #fff;
    -webkit-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    color: #111;
    padding: 10px 30px;
}

.options i{
    margin-right: 10px;
}

.options:hover{
    cursor: pointer;
    background-color: #cfcfcf;
}

#more{
    width: 100%;
    min-height: 50vh;
    border-top: 0.5px solid #cfcfcf;
    border-bottom: 0.5px solid #cfcfcf;
}

#more h5{
    padding: 10px 0px 10px 30px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #777;
}


.moreitems{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 7vh;
    background-color: #fff;
    -webkit-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    color: #111;
    padding: 10px 30px;
}

.moreitems:hover{
    cursor: pointer;
    background-color: #cfcfcf;
}

.moreitems i{
    margin-right: 10px;
}

#sideNav p{
    font-size: 12px;
    text-align: center;
    margin: 20px 0 10px 0;
}

#credit{
    font-size: 12px;
    color: #444;
    margin: 20px 0 10px 0;
    text-align: center;
}

#credit i{
    color: red;
}





@media(max-width: 500px){
    nav{
        padding: 0 5px;
    }
    nav .brand{
        width: 143px;
    }
    nav .brand i{
        display: none;
    }
    nav .searchArea{
        display: none;
    }
    nav .iconFeild{
        display: none;
    }
    .containers{
        width: 95%;
    }
    #first{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #first #video{
        width: 86%;
    }
    video{
        width: 320px;
    }
    #first #image{
        width: 100%;
        margin-top: 10px;
        background-position: center;
    }
    nav .brand .logo img{
        margin-left: -130px;
    }
    .videos{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 95%;
    }
    .video{
        width: 100%;
        margin-bottom: 50px;
        border: 2px solid #f0f0f0;
        -webkit-box-shadow: 0 0 5px rgb(221, 221, 221);
                box-shadow: 0 0 5px rgb(221, 221, 221);
    }
    .video .thumbnail{
        min-height: 25vh;
    }
    .video h4{
        font-size: 14px;
        line-height: 23px;
    }
}